@import "tailwindcss";

:root {
  --background: #08051f;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  border-color: color-mix(in srgb, white 10%, transparent);
}

body {
  background: radial-gradient(1200px 700px at 100% 0%, #1a1248 0%, #08051f 60%);
  color: var(--foreground);
}
